<div id="page-wrapper" class="container-fluid" ng-cloak>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Agregar ticket</h1>
    </div>
  </div>
  <div class="row">
      <form id="ticket-add" name="ticket">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group" ng-class="{'has-error': !ticket.$pristine && ticket.numTicket.$error.required}">
              <span class="input-group-addon" id="basic-addon1">Numero ticket:</span>
              <input type="text" name="numTicket" class="form-control" placeholder="Numero ticket" aria-describedby="basic-addon1" ng-model="newTicket.num_ticket" required/>
            </div>
            <span ng-show="!ticket.$pristine && ticket.numTicket.$error.required">El campo es obligatorio.</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group date" id= "datetimepicker1" ng-class="{'has-error': !ticket.$pristine && ticket.fecha.$error.required}">
              <span class="input-group-addon" id="basic-addon1">Fecha:</span>
              <input type="text" name="fecha" class="form-control"  uib-datapicker-popup="{{'YYYY-MM-DD HH:mm:ss'}}" is-open="popup1.opened" placeholder="YYYY-MM-DD" aria-describedby="basic-addon1" ng-model="newTicket.fecha" required/>
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <span ng-show="!ticket.$pristine && ticket.fecha.$error.required">El campo es obligatorio.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group" ng-class="{'has-error': !ticket.$pristine && ticket.talle.$error.required}">
              <span class="input-group-addon" id="basic-addon1">Taller:</span>
              <!-- <input type="text" name="talle" class="form-control" placeholder="Taller" aria-describedby="basic-addon1" ng-model="newTicket.taller" required> -->
              <select class="form-control" name="talle" ng-init="getAlltalleres()" ng-model="newTicket.taller" required>
                <option  ng-repeat="taller in talleres" value={{taller.id}}> {{taller.nombre}}</option>
              </select>
            </div>
            <span ng-show="!ticket.$pristine && ticket.talle.$error.required">El campo es obligatorio.</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Equipo:</span>
              <input type="text" class="form-control" placeholder="Equipo" aria-describedby="basic-addon1" ng-model="newTicket.equipo">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Equipo:</span>
              <input type="text" class="form-control" placeholder="Equipo" aria-describedby="basic-addon1" ng-model="newTicket.equipo">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Modelo:</span>
              <input type="text" class="form-control" placeholder="Modelo" aria-describedby="basic-addon1" ng-model="newTicket.modelo">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Marca:</span>
              <input type="text" class="form-control" placeholder="Marca" aria-describedby="basic-addon1" ng-model="newTicket.marca">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Imei:</span>
              <input type="text" class="form-control" placeholder="Imei" aria-describedby="basic-addon1" ng-model="newTicket.imei">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Cliente:</span>
              <input type="text" class="form-control" placeholder="Cliente" aria-describedby="basic-addon1" ng-value="clienteForTicket.nombre + (clienteForTicket.apellido_1!==null ? ' ' + clienteForTicket.apellido_1 : '') + (clienteForTicket.apellido_2!==null ? ' ' + clienteForTicket.apellido_2 : '')" disabled >
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="toggleModal()"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Costo reparación:</span>
              <input type="text" class="form-control" placeholder="00.00" aria-describedby="basic-addon1" ng-model="newTicket.costo_reparacion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group" >
              <span class="input-group-addon" id="basic-addon1">Tecnico:</span>
              <select class="form-control" id="userSelect" name="users" ng-init="getAllUsuarios()" ng-model="newTicket.tecnico">
                <option  ng-repeat="usuario in usuarios" value={{usuario.id}}> {{usuario.nombre + " " +  usuario.apellido}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Avisado:</span>
              <input type="text" class="form-control" placeholder="Avisado" aria-describedby="basic-addon1" ng-model="newTicket.avisado">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Estado:</span>
              <input type="text" class="form-control" placeholder="Estado" aria-describedby="basic-addon1" ng-model="newTicket.estado">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Beneficio tecnico:</span>
              <input type="text" class="form-control" placeholder="Beneficio tecnico" aria-describedby="basic-addon1" ng-model="newTicket.beneficio_tecnico">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Fecha cierre:</span>
              <input type="text" class="form-control" placeholder="Fecha cierre" aria-describedby="basic-addon1" ng-model="newTicket.fecha_cierre">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Pedido:</span>
              <input type="text" class="form-control" placeholder="Pedido" aria-describedby="basic-addon1" ng-model="newTicket.pedido">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Observaciones:</span>
              <input type="text" class="form-control" placeholder="Observaciones" aria-describedby="basic-addon1" ng-model="newTicket.observaciones">
            </div>
          </div>
        </div>
        <div class="row" ng-show="!editMode">
          <div class="col-lg-12">
            <button type="button" class="btn btn-success" ng-click="addTicket()" ng-disabled="!ticket.$valid">Agregar</button>
          </div>
        </div>
        <div class="row" ng-show="editMode">
          <div class="col-lg-12">
            <button type="button" class="btn btn-success"   ng-click="saveTicket()">Guardar</button>
          </div>
        </div>
    </form>
  </div>
</div>


<client-modal title="Buscar cliente" visible="showModal">
  <div ng-controller="ClientesController">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Busqueda:</span>
          <input type="text" class="form-control" placeholder="Dato..." aria-describedby="basic-addon1" ng-model="search_data" ng-change="updateSearch()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-dismiss="modal" ng-click="toggleNewClientModal()">Nuevo Cliente</button>
          </span>
        </div>
      </div>
    </div>

    <div id="lista" class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="table-responsive" ng-init="initPagedList()">
            <table class="table table-striped table-condensed table-hover" style="width:100%">
              <tr>
                <th>Nombre / Empresa</th>
                <th>Mail</th>
                <th>Identificacion</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Acciones</th>
              </tr>
              <!-- | filter: search_data -->
              <tr ng-repeat="cliente in clientes">
                <td>{{cliente.nombre + (cliente.apellido_1!==null ? ' ' + cliente.apellido_1 : '') + (cliente.apellido_2!==null ? ' ' + cliente.apellido_2 : '')}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.identity_number}}</td>
                <td>{{cliente.telefono_1}}</td>
                <td>{{cliente.direccion}}</td>
                <td>
                  <div class="btn btn-default" href="" ng-click="$parent.setCliente(cliente)" data-dismiss="modal">Seleccionar</div>
                </td>
              </tr>
              <tr ng-show="clientes.length==0">
                <td>
                  <div class="btn btn-default" href="" data-dismiss="modal" ng-click="toggleNewClientModal()">Nuevo Cliente</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="text-align:center;">
        <nav class="center">
          <ul class="pagination center">
            <li ng-class="{'disabled':paginaActual<2}">
              <a href="" aria-label="Previous" ng-click="paginaActual>1 ? loadPage(paginaActual-1) : ''">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="n in getPages() track by $index" ng-class="{'active':paginaActual==($index+1)}"><a ng-click="loadPage($index+1)">{{$index+1}}</a></li>
            <li ng-class="{'disabled':paginaActual>=cantidadPaginas}">
              <a aria-label="Next" ng-click="paginaActual<cantidadPaginas ? loadPage(paginaActual+1) : ''">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</client-modal>

<client-modal title="Agregar cliente" visible="showNewClientModal">
  <div ng-controller="ClientesController">
    <form id="cliente-add" name="clientes" ng-init="newClient={}">
      <div class="row">
        <div class="col-lg-12">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="es_empresa"> ¿Es empresa?
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div ng-class="{'col-lg-12':es_empresa,'col-lg-6':!es_empresa}">
          <div class="form-group">
            <div class="input-group" ng-class="{'has-error': !clientes.$pristine && clientes.Nombre.$error.required}">
              <span class="input-group-addon" id="basic-addon1">Nombre:</span>
              <input type="text" class="form-control" name="Nombre" placeholder="Nombre" aria-describedby="basic-addon1" ng-model="newClient.nombre" required/>

            </div>
            <span ng-show="!clientes.$pristine && clientes.Nombre.$error.required">El campo es obligatorio.</span>
          </div>
        </div>
        <div class="col-lg-6" ng-show="!es_empresa">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Apellido 1:</span>
            <input type="text" class="form-control" placeholder="Apellido" aria-describedby="basic-addon1" ng-model="newClient.apellido_1"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-6" ng-show="!es_empresa">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Apellido 2:</span>
            <input type="text" class="form-control" placeholder="Apellido 2" aria-describedby="basic-addon1" ng-model="newClient.apellido_2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group" ng-class="{'has-error': !clientes.$pristine && clientes.identificacion.$error.required}">
            <span class="input-group-addon" id="basic-addon1">{{es_empresa ? 'NIF/CIF' : 'DNI'}}:</span>
            <input type="text" name="identificacion" class="form-control" placeholder="{{es_empresa ? 'NIF/CIF' : 'DNI'}}" aria-describedby="basic-addon1" ng-model="newClient.identity_number" required>
          </div>
          <span ng-show="!clientes.$pristine && clientes.identificacion.$error.required">El campo es obligatorio.</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Telefono 1:</span>
            <input type="text" class="form-control" placeholder="555-8888" aria-describedby="basic-addon1" ng-model="newClient.telefono_1">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Telefono 2:</span>
            <input type="text" class="form-control" placeholder="555-8888" aria-describedby="basic-addon1" ng-model="newClient.telefono_2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Dirección:</span>
            <input type="text" class="form-control" placeholder="Calle 1235" aria-describedby="basic-addon1" ng-model="newClient.direccion">
          </div>
        </div>
      </div>
      <div class="row" ng-show="!editMode">
        <div class="col-lg-12">
          <button type="button" class="btn btn-success" ng-click="$parent.addCliente(newClient,es_empresa)" ng-disabled="!clientes.$valid">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</client-modal>
